<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
    <div class="head">
        <h1 class="Website-title">Skar Book Reviews</h1>
    </div>

    <div class="body">

    </div>
</body>
</html>